<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html lang="en" class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!--[if !mso]><!-->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!--<![endif]-->

<!-- only for DEV -->
<link rel="stylesheet" href="/assets/css/styles.css">
<!-- only for DEV -->

<style type="text/css">
    /** @todo for PROD paste here the CSS compilated code from /assees/css/styles */
</style>

<!--[if gte mso 9]><xml>
        <o:OfficeDocumentSettings>
        <o:AllowPNG/>
        <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
    </xml><![endif]-->

<head>
    <title>FIOS Email template</title>
</head>

<body style="
	    width:100%;
	    margin: 0;
	    padding: 0;
	    background-color: #353535;
	    font-family:Arial, sans-serif;
	    mso-line-height-rule:exactly;
	    -webkit-font-smoothing:antialiased;
	    -ms-text-size-adjust:none !important;">
    <!--[if lt IE 10]>
    <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    </p>
    <![endif]-->
    
    {% body %}

</body>
</html>