---
layout: default
---
<table id="ac-body-table" border="0" cellpadding="0" cellspacing="0" style="
           	border-collapse: collapse; 
           	height: 100%;
           	width: 100%;
	        	margin: 0 auto;
           	padding: 0; 
           	background-color: #353535;">
	<tr>
		<td id="ac-body-cell" align="left" valign="top">
			<table id="ac-content-table" border="0" cellpadding="0" cellspacing="0" style="
                       	border-collapse: collapse; 
                       	height: 100%; 
                       	width: 100%; 
                       	margin: 0;
                       	padding: 0; 
                       	background-color: #FFF;">
				<tr>
					<td id="ac-preheader-cell" align="left" valign="top">

						{{> subject-line }}
						{{> header-announcement }}
						{{> header-navigation }}

					</td>
				</tr>
				<tr>
					<td align="left" valign="top">
						<table id="ac-columns-table" border="0" cellpadding="0" cellspacing="0" style="
                                   		border-collapse: collapse; 
                                   		height: 100%; 
                                   		width: 100%; 
                                   		margin: 0; 
                                   		padding: 0;">
							<tr>
								<td class="ac-content-cell" valign="top">
									
									{{> hero-image }}
									{{> text-image }}									
									{{> image-component }}
									
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td id="ac-footer-cell" align="left" valign="top">

						{{> footer-navigation }}
					
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>